<br>--
<br><font color="#999999" face="Arial, Helvetica, sans-serif" size="1"> This message has been checked by EMFABox and is found to be clean.
<br><A HREF="http://$hostname/cgi-bin/learn-msg.cgi?id=$id">Click here to mark it as spam.</A></font>

<font color='#999999' face='Arial, Helvetica, sans-serif' size='1'><br><A HREF='http://$hostname/cgi-bin/learn-msg.cgi?blacklist=1&id=$id'>Click here to blacklist sender</A></font>

